.pricing {
  &__item {
    position: relative;
    top: 0;
    max-width: 380px;
    margin: 0 auto 50px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    @include media-width(md) {
      margin: 0 -15px;
      &--active {
        margin-top: -15px;
      }
    }
    &--active {
      z-index: 1;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    }
    &:hover {
      top: -15px;
      transition: all 0.25s ease-in-out;
      .pricing__item-header {
        background: darken(color(background, secondary), 2.5%);
        transition: all 0.85s ease-in-out;
      }
    }
    &-header {
      padding: 1rem 15px;
      font-size: 1.25rem;
      text-align: center;
      background: darken(color(background, secondary), 5%);
    }
    &-price-value {
      font-size: 2.5rem;
      font-weight: 700;
    }
    &-desc {
      font-size: .875rem;
      color: #999;
    }
    &-feature {
      font-weight: 700;
      color: #222;
    }
    &-btn {
      color: color(background, primary);
      border-radius: 0;
      font-weight: 700;
    }
  }
  &__list {
    margin: 0;
    padding: 0.875rem 20px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #eee;
    overflow: hidden;
  }
  &__list-item {
    list-style: none;
    padding: 0.875rem 0;
  }
}