// FOOTER
footer.site-footer
    .container
        .row
            .col-md-6
                // SOCIAL-LINKS
                .social-links
                    .social-links__title Connect with us on
                    ul.social-links__list
                        li.social-links__item
                            a.social-links__link(href='#')
                                i.fa.fa-twitter
                        li.social-links__item
                            a.social-links__link(href='#')
                                i.fa.fa-facebook
                        li.social-links__item
                            a.social-links__link(href='#')
                                i.fa.fa-instagram

            .col-md-6
                // COPYRIGHT
                .copyright
                    | Copyright © 2018. All rights reserved.
                    br
                    | Powered with friendship at&nbsp;
                    a.copyright__link(href='//digital.pumb.ua') DIGITAL&nbsp;PUMB