// TOP-BLOCK
section.top-block.screen
    .screen__inner
        .container
            .row
                .col-sm-10.offset-sm-1.mb-5
                    h1.section-title.top-block__title A free landing page theme
                    p.section-desc.top-block__desc.wow.fadeIn(data-jarallax-element="-30", data-wow-delay="0.5s")
                        | Lorem ipsum dolor sit amet, consectetur adipis.
                        br
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit sit dol mi arlna.

            .row
                .col-6.text-right.wow.fadeInUp(data-wow-delay="1s")
                    a.btn.btn-primary(href="#be-the-first") Learn More

                .col-6.wow.fadeInUp(data-wow-delay="1.4s")
                    a.btn.btn-secondary(href="#invite") Request Invite


            .mouse-icon.hidden-xs
                .scroll