// FEEDBACK
section.feedback.screen#feedback
    .screen__inner
        .container
            .row
                .col-sm-8.offset-sm-2.mb-5
                    i.feedback__icon.fa.fa-envelope-o
                    h2.section-title.lfeedback__title Get the invite
                    p.section-desc.feedback__desc
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut.
            .row
                .col-md-8.offset-md-2.col-lg-6.offset-lg-3
                    form.feedback__form
                        .input-group
                            label.sr-only(for="email") Email
                            input.feedback__input.form-control#email(type='email', placeholder='Enter Email')
                            .input-group-append
                                button.feedback__btn.btn.btn-secondary(type='submit') Request Invite