extends _layout

block content

    include _includes/header
    include _includes/section-top-block
    include _includes/section-info-block
    include _includes/section-features
    include _includes/section-pricing
    include _includes/section-feedback
    include _includes/footer